body {
    font-family: system-ui, Arial;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}

.calc {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 14px;
    overflow: hidden;
}

.display {
    background-color: #1a1a1a;
    color: #fff;
    padding: 18px;
    font-size: 32px;
    text-align: right;
    min-height: 70px;
    display: flex;
    align-items: end;
    justify-content: end;
    word-break: break-all;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: #1a1a1a;
}

button {
    border: 0;
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f7f7f7;
}

button:active {
    transform: scale(0.98);
}

.op {
    background-color: #ff4800;
    font-weight: 600;
}

.danger {
    background-color: #ddd;
}

.numbtn {
    background-color: #353535;
    color: white;
}

.equal {
    background-color: #ff4800;
    font-weight: 700;
}

.wide {
    background-color: #353535;
    grid-column: span 2;
    color: white;
}